.sok-barcode {
    font-size: 13px;
    font-family: "Segoe UI Semilight", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
    margin: auto;
    border: solid 1px #ccc;
    padding: 20px;
  }
  
  .sok-barcode label {
    font-size: 16px;
  }
  
  .sok-barcode input {
    font-size: 16px;
    line-height: 16px;
    width: 400px;
    font-family: "Segoe UI Semilight", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
  }
  
  #sokPrint {
    font-size: 16px;
    font-family: "Segoe UI Semilight", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
  }
  
  #sokClear {
    font-size: 16px;
    font-family: "Segoe UI Semilight", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
  }
  
  @media print {
    .sok-barcode {
      display: none;
    }
  }