@import '../src/fonts/fonts.css';

/* #main-focus {
    width: 80%;
    min-width: 400px;
    max-width: 1000px;
    height: 80%;
    min-height: var(--internal-content-min-height);
    color: #fff;
} */


#focus #focus-header {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: space-evenly;
    /* gap: 2px; */
    font-size: var(--internal-title-font-size);
}


#focus #focus-header .focus-nav {
    flex: 1;
    position: relative;
    /* background: var(--background-black); */
    background: var(--primary-color-deep);
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    /* border: var(--border-width) solid var(--background-black); */
    /* border-radius: 3px; */
    transition: 0.2s;
}


#focus #focus-header .focus-nav:hover {
    /* border: var(--border-width) dashed var(--primary-color); */
    background: var(--text-color);
    color: var(--primary-color);
}


#focus #focus-header .focus-nav:hover::after {
    background: var(--background-black);
}


/* #focus #focus-header .focus-nav:first-child {
    border-top-left-radius: var(--box-radius);
}

#focus #focus-header .focus-nav:last-child {
    border-top-right-radius: var(--box-radius);
} */


.content {
    position: relative;
    /* margin-top: 2px; */
    width: 100%;
    height: 90%;
    /* min-height: var(--content-min-height); */
    background: var(--primary-color);
    /* border: var(--border-width) dashed var(--background-black); */
    /* border-bottom-right-radius: var(--box-radius);
    border-bottom-left-radius: var(--box-radius); */
    display: flex;
    justify-content: center;
    align-items: center;
}


[data-tab-content] {
    display: none;
    width: 100%;
}


.active[data-tab-content] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


#focus #focus-header .active {
    /* border: var(--border-width) dashed var(--background-black); */
    background-color: var(--primary-color);
    color: var(--text-color);
}

#focus-time .annotation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 10%;
    /* background-color: var(--primary-color-deep); */
    margin-top: var(--start-margin-top);
    margin-bottom: var(--start-margin-top);
    /* border-radius: var(--box-radius); */
}

#focus-time .annotation .focusing-task-tile {
    display: flex;
    font-size: var(--internal-title-font-size);
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100%;
    background-color: var(--primary-color-deep);
    border-radius: var(--box-radius);
}

#focus-time .annotation #pomo-amount {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin-left: 10px;
    padding: 5px;
    background-color: var(--primary-color-deep);
    border-radius: var(--box-radius);
}

#focus-time .annotation #pomo-amount #pomo-icon {
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 18px;
    color: var(--background-black);
    margin-right: 5px;
}

#focus-time .annotation #pomo-amount > span {
    font-size: var(--internal-title-font-size);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#short-break .annotation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 10%;
    background-color: var(--primary-color-deep);
    margin-top: var(--start-margin-top);
    margin-bottom: var(--start-margin-top);
    border-radius: var(--box-radius);
}

#long-rest .annotation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 10%;
    background-color: var(--primary-color-deep);
    margin-top: var(--start-margin-top);
    margin-bottom: var(--start-margin-top);
    border-radius: var(--box-radius);
}

.time {
    font-size: var(--time-font-size);
    font-weight: 500;
    width: 60%;
    height: 60%;
    background-color: var(--primary-color-deep);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/* #action-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} */


.start {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 15%;
    margin: var(--start-margin-top);
    /* background: var(--text-color);
    color: var(--primary-color-deep);
    font-size: var(--internal-title-font-size);
    margin: var(--start-margin-top);
    padding: var(--start-padding-top-bottom) var(--start-padding-left-right);
    border-radius: calc(var(--box-radius) / 2);
    overflow: hidden;
    cursor: pointer; */
}

.start .timer-button {
    width: 100%;
    height: 100%;
    display: block;
}

.start .timer-button > ion-icon {
    width: 100%;
    height: 100%;
    color: var(--text-color);
    font-size: var(--internal-title-font-size);
}

.start #action-pause {
    display: none;
}

.start #action-finish {
    display: none;
}

/* .start::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--start-before-height);
    bottom: 0px;
    background: rgba(0, 0, 0, 0.1);
} */

.reset {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: var(--text-color);
    color: var(--primary-color-deep);
    font-size: var(--internal-title-font-size);
    margin: var(--start-margin-top);
    padding: var(--start-padding-top-bottom) var(--start-padding-left-right);
    border-radius: calc(var(--box-radius) / 2);
    overflow: hidden;
    cursor: pointer;
}

.reset::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--start-before-height);
    bottom: 0px;
    background: rgba(0, 0, 0, 0.1);
}

/*
@media (max-width: 800px) {
    :root {
        --border-width: 3px;
        --box-radius: 10px;
        --title-font-size: 1.2rem;
        --content-min-height: 250px;
        --time-font-size: calc(3rem + 3vw);
        --start-margin-top: 10px;
        --start-before-height: 5px;
    }
} */
