@import '../src/fonts/fonts.css';

#create-task-dialogue {
    width: 100%;
    height: 100%;
}

#create-task-dialogue form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

#create-task-dialogue #reminder-header {
    display: flex;
    flex: 1;
    color: var(--text-color);
    font-size: var(--reminder-font-size);
    margin-top: var(--start-margin-top);
}

#create-task-dialogue .bubble-box {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 85%;
    border-radius: var(--box-radius);
    font-size: var(--reminder-font-size);
    color: var(--text-color);
    margin-bottom: var(--start-margin-top);
    background-color: var(--primary-color-deep);
}

#create-task-dialogue input[type="text"] {
    display: flex;
    flex: 1;
    overflow: hidden;
    height: 100%;
    background-color: var(--primary-color-deep);
    border: none;
    color: var(--text-color);
    border-radius: var(--box-radius);
    padding-left: 5%;
    padding-right: 5%;
}

#create-task-dialogue input[type="text"]::placeholder {
    color: var(--text-color);
}

#create-task-dialogue #reminder-pomo-icon {
    width: 15%;
    font-size: 20px;
    color: var(--text-color);
    object-fit: cover;
}

#create-task-dialogue input[type="number"] {
    width: 15%;
    background: var(--primary-color);
    border: none;
    color: var(--text-color);
    text-align: center;
    -moz-appearance: textfield; /* Firefox No Arrows */
}

/* Chrome and Edge No Arrows */
#create-task-dialogue input[type="number"]::-webkit-outer-spin-button,
#create-task-dialogue input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#create-task-dialogue input[type="number"]::placeholder {
    color: var(--text-color);
}

#create-task-dialogue input[type="date"] {
    width: 60%;
    background-color: var(--primary-color-deep);
    border: none;
    color: var(--text-color);
    text-align: center;
    border-radius: var(--box-radius);
    margin-right: 2%;
    margin-left: 2%;
}

#create-task-dialogue select {
    display: flex;
    flex: 1;
    border: none;
    background-color: var(--primary-color-deep);
    color: var(--text-color);
    text-align: center;
    border-radius: var(--box-radius);
    height: 100%;
}

/* TODO: Visualize disabled button */
#create-task-dialogue ion-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border: 2px solid var(--text-color);
    border-radius: 20px;
    cursor: pointer;
}

#create-task-dialogue ion-button:hover {
    background-color: var(--primary-color-deep)
}

#create-task-dialogue ion-button ion-icon {
    color: var(--text-color);
    font-size: 30px;
}
