@import '../src/fonts/fonts.css';

#create-task-dialogue {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: var(--primary-color);
}

#create-task-dialogue .bubble-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 10%;
    background-color: var(--primary-color-deep);
    margin-top: var(--start-margin-top);
    margin-bottom: var(--start-margin-top);
    border-radius: var(--box-radius);
    font-size: var(--title-font-size);
    flex: 1;
}

#create-task-dialogue .bubble-box span {
    height: 100%;
    color: var(--text-color);
    font-size: 1rem;
}

#create-task-dialogue .bubble-box input[type="text"] {
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1;
    background: var(--primary-color);
    border: none;
    color: var(--text-color);
    font-size: var(--reminder-font-size);
    border-radius: var(--box-radius);
    /* text-align: left; */
    /* align: left; */
    padding-left: 5%;
    padding-right: 5%;
}

#create-task-dialogue .bubble-box input[type="text"]::placeholder {
    color: var(--text-color);
}

#create-task-dialogue .date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 15%;
    background-color: var(--primary-color-deep);
    border-radius: var(--box-radius);
    margin-top: var(--start-margin-top);
    margin-bottom: var(--start-margin-top);
    flex: 1;
}

#create-task-dialogue .date input[type="date"] {
    display: flex;
    width: 100%;
    flex: 1;
    background: var(--primary-color);
    border: none;
    color: var(--text-color);
    border-radius: var(--box-radius);
    text-align: center;
    font-size: var(--reminder-font-size);
}

#create-task-dialogue .bubble-box #reminder-pomo-amount {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 80%;
    position: relative;
    overflow: hidden;
    margin-left: 5px;
}

#create-task-dialogue .bubble-box #reminder-pomo-amount #reminder-pomo-icon {
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 30px;
    color: var(--background-black);
}

#create-task-dialogue .bubble-box #reminder-pomo-amount > span {
    font-size: var(--internal-title-font-size);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding-right: 10%;
}

#create-task-dialogue .bubble-box input[type="number"] {
    display: flex;
    width: 20%;
    background: var(--primary-color);
    border: none;
    color: var(--text-color);
    justify-content: center;
    font-size: var(--reminder-font-size);
    -moz-appearance: textfield; /* Firefox No Arrows */
}

/* Chrome and Edge No Arrows */
#create-task-dialogue .bubble-box input[type="number"]::-webkit-outer-spin-button,
#create-task-dialogue .bubble-box input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#create-task-dialogue .bubble-box input[type="number"]::placeholder {
    color: var(--text-color);
}

.submit {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 50%;
    /* height: 5%; */
    margin: var(--start-margin-top);
    flex: 1;
}

.submit .submit-button {
    width: 100%;
    height: 100%;
    display: block;
}

.submit .submit-button > ion-icon {
    width: 100%;
    /* height: 100%; */
    color: var(--text-color);
    font-size: 30px;
}
