@charset "utf-8";
@import '../src/fonts/fonts.css';

:root {
    --primary-color: rgb(217, 85, 80, 0.8);
    --primary-color-deep: rgb(217, 85, 80, 1);
    --text-color: #fff;
    --background-black: #333;
    --content-min-height: 400px;
    --internal-content-min-height: 250px;
    --border-width: 5px;
    --margin-width: 5px;
    --box-radius: 15px;
    --internal-title-font-size: 1rem;
    --title-font-size: 2rem;
    --time-font-size: 5rem;
    --start-margin-top: 20px;
    --start-padding-top-bottom: 15px;
    --start-padding-left-right: 80px;
    --start-before-height: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    user-select: none;
    -webkit-user-drag: none;
    font-family: 'Nunito', sans-serif;
}
*::before,
*::after,

body {
    height: 100vh;
    background: var(--background-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    color: #fff;
    width: 400px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.container > #focus {
    width: 100%;
    height: 89%;
    position: absolute;
}

.open {
    visibility: visible;
    animation: ease 0.5s open;
}

.close {
    visibility: hidden;
    animation: ease 0.5s close;
}

@keyframes open {
    0% {
        top: 500px;
    }
    100% {
        top: 0;
    }
}

@keyframes close {
    0% {
        top: 0;
        visibility: visible;
    }
    100% {
        top: -500px;
        visibility: visible;
    }
}

#nav {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#nav ul > li {
    padding: 0 15px;
    box-sizing: border-box;
    border-radius: 30px;
    height: 35px;
    margin: 0 5px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

#nav li > ion-icon {
    color: var(--background-black);
    padding-right: 5px;
    font-size: 25px;
}

#nav li > span {
    word-break: break-all;
    white-space: nowrap;
    user-select: none;
    overflow: hidden;
    font-size: 15px;
    transition: 0.5s;
    color: var(--background-black);
}

.checked {
    background: var(--b);
}

.checked > span {
    width: 50px;
    opacity: 1;
}

.no-checked > span {
    width: 0;
    opacity: 0;
}
