#timeline {
    background: var(--primary-color);
    color: var(--primary-color-deep);
    height: calc(100% - 50px);
    overflow-y: scroll;

    margin-top: -10px;
    /* transform: translate(0, -10px); */
}


#create-task {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 100px;
    margin: 10px 0;
    font-size: 50px;
    color: #fff;
    cursor: pointer;
}

.create_dialog_wrapper {
    display: none;
}

.create_mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 4;
}

.create_dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    z-index: 5;
}


#create-task:hover {
    background: var(--primary-color-deep);
}

#time-line-list-container {
    color: #000 !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.time-line-card {
    width: calc(100% - 40px);
    min-height: 100px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.time-line-card-line-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.time-line-card-title {
    font-size: 30px;
    font-weight: 600;
    /* ecllipse if over 1 line */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.time-line-card-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100px;
}

.time-line-card-button {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background: var(--primary-color-deep);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 0 5px;
    cursor: pointer;
}

.time-line-card-button:hover {
    background: var(--primary-color);
}



.time-line-card-line-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.time-line-card-info-item {
    margin-right: 10px;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-line-card-tag {
    background: var(--sr-annote-color-0);
}

.time-line-card-date {
    background: var(--sr-annote-color-1);
}

.time-line-card-tomato-count {
    background: var(--sr-annote-color-4);
}

.alarm-icon {
    margin-right: 5px;
}

.switch-field {
    display: flex;
    overflow: hidden;
    padding: 0 3px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: #fff; 
    opacity: .4;
    color:  var(--primary-color);
    font-weight: bold;
    font-size: 16px;
    height: 40px;
    box-sizing: border-box;
    line-height: 24px;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    /* box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1); */
    transition: all 0.3s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    background-color: #fff; 
    box-shadow: none;
    opacity: 1;
}

.switch-field label:first-of-type {
    border-radius: 25px 0 0 25px;
}

.switch-field label:last-of-type {
    border-radius: 0 25px 25px 0;
}


.operation-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    padding: 0 20px;
}